<div class="grid">
    <div class="col-12">
        <div class="card">
            <p-toast></p-toast>
            <p-breadcrumb [model]="itemsMenu" [home]="home" styleClass="mb-4"></p-breadcrumb>

            <div class="card" styleClass="mb-4">
                <div class="flex flex-row">
                    <div class="flex flex-column w-16rem mr-4">
                        <label for="searchName">Từ ngày (ngày mượn): </label>
                        <p-calendar class="mt-2" [style]="{ width: '100%' }" [(ngModel)]="searchBorrowedHistoryDto.fromDate" [readonlyInput]="true" dateFormat="dd-mm-yy" dataType="string" [showIcon]="true" inputId="buttondisplay" placeholder="--Chọn ngày--"></p-calendar>
                    </div>
                    <div class="flex flex-column w-16rem mr-4">
                        <label for="searchName">Đến ngày (ngày mượn): </label>
                        <p-calendar class="mt-2" [style]="{ width: '100%' }" [(ngModel)]="searchBorrowedHistoryDto.toDate" [readonlyInput]="true" dateFormat="dd-mm-yy" dataType="string" [showIcon]="true" inputId="buttondisplay" placeholder="--Chọn ngày--"></p-calendar>
                    </div>
                    <div class="flex flex-column w-16rem mr-4">
                        <label for="searchCategory">Trạng thái: </label>
                        <p-dropdown [style]="{ width: '100%' }" class="mt-2" [(ngModel)]="searchBorrowedHistoryDto.status" [options]="listStatus" optionLabel="name" optionValue="code" filterBy="name" placeholder="--Chọn trạng thái--"></p-dropdown>
                    </div>
                </div>
                <div class="mt-4">
                    <button pButton pRipple label="Tìm kiếm" icon="pi pi-search" class="p-button-success mr-2 p-button-rounded p-button-sm" (click)="search()"></button>
                    <button pButton pRipple label="Đặt lại" icon="pi pi-refresh" class="p-button-warning p-button-rounded p-button-sm" (click)="refreshSearchFields()"></button>
                </div>
            </div>

            <p-table #dt 
                [value]="listBorrow" 
                responsiveLayout="scroll" 
                [rows]="pagination.size" 
                [totalRecords]="pagination.totalElements"
                [lazy]="true"
                [paginator]="true" 
                [rowsPerPageOptions]="[10,20,30]" 
                [showCurrentPageReport]="true" 
                currentPageReportTemplate="Trang {{pagination.page + 1}}/{{pagination.totalPages}}" 
                [rowHover]="true" 
                dataKey="id" 
                (onPage)="pageChange($event)"
                (rowsChange)="sizeChange($event)"
            >
                <ng-template pTemplate="caption">
                    <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
                        <h5 class="m-0">DANH SÁCH DỮ LIỆU</h5>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th>Tên sách</th>
                        <th>Số lượng</th>
                        <th>Ngày mượn</th>
                        <th>Trạng thái</th>
                        <th>Ngày trả</th>
                        <th>Đánh giá</th>
                        <th>Nội dung</th>
                        <th>Thao tác</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-borrow>
                    <tr>
                        <td style="width:14%; min-width:16rem;">
                            {{borrow.book.name}}
                        </td>
                        <td style="width:14%; min-width:8rem; text-align: center">
                            {{borrow.quantity}}
                        </td>
                        <td style="width:14%; min-width:14rem;">
                            {{borrow.createdDate | date:"dd/MM/yyyy HH:mm"}}
                        </td>
                        <td style="width:14%; min-width:10rem;">
                            {{borrow.status == 1 ? "Đang mượn" : "Đã trả"}}
                        </td>
                        <td style="width:14%; min-width:14rem;">
                            {{borrow.returnDate | date:"dd/MM/yyyy HH:mm"}}
                        </td>
                        <td style="width:14%; min-width:14rem;">
                            <p-rating [readonly]="true" [cancel]="false" [(ngModel)]="borrow.rating"></p-rating>
                        </td>
                        <td style="width:14%; min-width:14rem;">
                            {{borrow.comment}}
                        </td>
                        <td td style="width:14%; min-width:10rem;">
                            <div class="flex justify-content-left">
                                <button 
                                    pButton pRipple 
                                    icon="pi pi-pencil" 
                                    class="p-button-rounded p-button-success mr-2" 
                                    (click)="review(borrow)"
                                    [disabled]="borrow.rating != 0"
                                ></button>
                            </div>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>

        <p-dialog [(visible)]="dialogReview" header="Đánh giá sách" [modal]="true" [style]="{width:'450px'}">
            <ng-template pTemplate="content">
                <!-- <h5>Chấm điểm</h5> 
                <p-rating [ngModel]="borrow.rating" [stars]="10" [cancel]="false" [ngClass]="{'ng-invalid ng-dirty' : submitted && !borrow.rating}"></p-rating>
                <small style="color: red;" class="ng-dirty ng-invalid" *ngIf="submitted && !borrow.rating">Điểm đánh giá không được trống</small> -->

                <div class="field">
                    <label for="rating">Chấm điểm <span style="color: red;">(*)</span></label>
                    <p-rating type="text" id="rating" [(ngModel)]="borrow.rating" [cancel]="false" required autofocus [ngClass]="{'ng-invalid ng-dirty' : submitted && (borrow.rating == 0)}"></p-rating>
                    <small style="color: red;" class="ng-dirty ng-invalid" *ngIf="submitted && (borrow.rating == 0)">Điểm đánh giá không được trống</small>
                </div>

                <div class="field mt-3">
                    <p for="comment">Bình luận</p>
                    <textarea 
                        style="min-width: 100%; max-width: 100%;"
                        variant="filled"
                        rows="5"
                        pInputTextarea 
                        [(ngModel)]="borrow.comment">
                    </textarea>
                    <!-- <textarea id="comment" pInputTextarea [maxLength]="460"  rows="4" placeholder="Nhập bình luận"></textarea> -->
                </div>

            </ng-template>
            <ng-template pTemplate="footer">
                <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Xác nhận" (click)="saveReview()"></button>
                <button pButton pRipple icon="pi pi-times" class="p-button-text" label="Hủy bỏ" (click)="dialogReview = false"></button>
            </ng-template>
        </p-dialog>
    </div>
</div>