<!-- HTML template -->
<div class="grid">
    <div class="col-12">
        <div class="card">
            <p-toast></p-toast>
            <p-breadcrumb
                [model]="itemsMenu"
                [home]="home"
                styleClass="mb-4"
            ></p-breadcrumb>

            <div class="card mb-4">
                <div class="flex flex-row">
                    <div class="flex flex-column w-16rem mr-4">
                        <label for="searchKeyword"
                            >{{ lg === "en" ? "Title" : "Tiêu đề" }}:</label
                        >
                        <input
                            pInputText
                            class="mt-2"
                            [(ngModel)]="searchNewsDto.keyword"
                            [placeholder]="
                                lg === 'en' ? 'Enter title' : 'Nhập tiêu đề'
                            "
                        />
                    </div>
                    <div class="flex flex-column w-16rem mr-4">
                        <label for="searchAuthor"
                            >{{ lg === "en" ? "Author" : "Tác giả" }}:</label
                        >
                        <p-dropdown
                            class="mt-2"
                            [(ngModel)]="searchNewsDto.authorId"
                            [options]="authors"
                            optionLabel="name"
                            optionValue="id"
                            [filter]="true"
                            filterBy="name"
                            [placeholder]="
                                lg === 'en'
                                    ? '--Select author--'
                                    : '--Chọn tác giả--'
                            "
                        ></p-dropdown>
                    </div>
                    <div class="flex flex-column w-16rem mr-4">
                        <label
                            >{{
                                lg === "en"
                                    ? "From date (published)"
                                    : "Từ ngày (ngày xuất bản)"
                            }}:</label
                        >
                        <p-calendar
                            class="mt-2"
                            [(ngModel)]="searchNewsDto.fromDate"
                            dateFormat="dd-mm-yy"
                            [showIcon]="true"
                            [readonlyInput]="true"
                            [placeholder]="
                                lg === 'en'
                                    ? '--Select date--'
                                    : '--Chọn ngày--'
                            "
                        ></p-calendar>
                    </div>
                    <div class="flex flex-column w-16rem mr-4">
                        <label
                            >{{
                                lg === "en"
                                    ? "To date (published)"
                                    : "Đến ngày (ngày xuất bản)"
                            }}:</label
                        >
                        <p-calendar
                            class="mt-2"
                            [(ngModel)]="searchNewsDto.toDate"
                            dateFormat="dd-mm-yy"
                            [showIcon]="true"
                            [readonlyInput]="true"
                            [placeholder]="
                                lg === 'en'
                                    ? '--Select date--'
                                    : '--Chọn ngày--'
                            "
                        ></p-calendar>
                    </div>
                </div>
                <div class="mt-4">
                    <button
                        pButton
                        label="{{ lg === 'en' ? 'Search' : 'Tìm kiếm' }}"
                        icon="pi pi-search"
                        class="p-button-success mr-2 p-button-rounded p-button-sm"
                        (click)="search()"
                    ></button>
                    <button
                        pButton
                        label="{{ lg === 'en' ? 'Reset' : 'Đặt lại' }}"
                        icon="pi pi-refresh"
                        class="p-button-warning p-button-rounded p-button-sm"
                        (click)="refreshSearchFields()"
                    ></button>
                </div>
            </div>

            <p-table
                [value]="listNews"
                [rows]="pagination.size"
                [totalRecords]="pagination.totalElements"
                [paginator]="true"
                [rowsPerPageOptions]="[10, 20, 30]"
                [(selection)]="listNewsSelected"
                selectionMode="multiple"
                dataKey="id"
                [lazy]="true"
                (onPage)="pageChange($event)"
                (rowsChange)="sizeChange($event)"
                responsiveLayout="scroll"
                [showCurrentPageReport]="true"
                currentPageReportTemplate="{{
                    lg === 'en' ? 'Page' : 'Trang'
                }} {{ pagination.page + 1 }}/{{ pagination.totalPages }}"
            >
                <ng-template pTemplate="caption">
                    <div
                        class="flex justify-content-between align-items-center"
                    >
                        <h5 class="m-0">
                            {{
                                lg === "en" ? "DATA LIST" : "DANH SÁCH DỮ LIỆU"
                            }}
                        </h5>
                        <span>
                            <button
                                pButton
                                label="{{
                                    lg === 'en' ? 'Add New' : 'Thêm mới'
                                }}"
                                icon="pi pi-plus"
                                class="p-button-primary mr-2 p-button-rounded p-button-sm"
                                (click)="openNew()"
                            ></button>
                            <button
                                pButton
                                label="{{ lg === 'en' ? 'Delete' : 'Xóa' }}"
                                icon="pi pi-trash"
                                class="p-button-danger p-button-rounded p-button-sm"
                                (click)="deleteList()"
                                [disabled]="!listNewsSelected?.length"
                            ></button>
                        </span>
                    </div>
                </ng-template>

                <ng-template pTemplate="header">
                    <tr>
                        <th style="width: 3rem">
                            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                        </th>
                        <th>
                            {{ lg === "en" ? "Article ID" : "Mã bài viết" }}
                        </th>
                        <th>{{ lg === "en" ? "Title" : "Tiêu đề" }}</th>
                        <th>{{ lg === "en" ? "Author" : "Tác giả" }}</th>
                        <th>
                            {{ lg === "en" ? "Publish Date" : "Ngày xuất bản" }}
                        </th>
                        <th>{{ lg === "en" ? "Summary" : "Tóm tắt" }}</th>
                        <th>{{ lg === "en" ? "Content" : "Nội dung" }}</th>
                        <th>{{ lg === "en" ? "Keyword" : "Từ khóa" }}</th>
                        <th>{{ lg === "en" ? "Actions" : "Thao tác" }}</th>
                    </tr>
                </ng-template>

                <ng-template pTemplate="body" let-new>
                    <tr>
                        <td>
                            <p-tableCheckbox [value]="new"></p-tableCheckbox>
                        </td>
                        <td>{{ new.code || new.id }}</td>
                        <td>{{ new.title }}</td>
                        <td>{{ new.author?.name }}</td>
                        <td>{{ new.releaseDate | date : "dd/MM/yyyy" }}</td>
                        <td class="text-ellipsis">{{ new.summary }}</td>
                        <td class="text-ellipsis">{{ new.content }}</td>
                        <td class="text-ellipsis">{{ new.keyword }}</td>
                        <td>
                            <button
                                pButton
                                icon="pi pi-pencil"
                                class="p-button-success p-button-rounded mr-2"
                                (click)="edit(new.id)"
                            ></button>
                            <button
                                pButton
                                icon="pi pi-trash"
                                class="p-button-danger p-button-rounded"
                                (click)="deleteOne(new.id)"
                            ></button>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
</div>
