<div class="card">
    <div>
        <p-toast></p-toast>

        <p-breadcrumb
            [model]="itemsMenu"
            [home]="home"
            styleClass="mb-4"
        ></p-breadcrumb>

        <div>
            <p-table #dt [value]="wishes" [paginator]="true" [rows]="10">
                <ng-template pTemplate="caption">
                    <div
                        class="flex flex-column md:flex-row md:justify-content-between md:align-items-center"
                    >
                        <h5 class="m-0">
                            {{
                                lg === "vi"
                                    ? "DANH SÁCH YÊU THÍCH"
                                    : "FAVORITES LIST"
                            }}
                        </h5>
                        <!-- <span class="block mt-2 md:mt-0 p-input-icon-left">
                        <i class="pi pi-search"></i>
                        <input pInputText type="text" (input)="onGlobalFilter(dt, $event)" placeholder="Search..."  class="w-full sm:w-auto"/>
                    </span> -->
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th style="width: 3rem"></th>
                        <th>
                            {{ lg === "vi" ? "Ảnh minh họa" : "Illustration" }}
                        </th>
                        <th>
                            {{
                                lg === "vi"
                                    ? "Thông tin sách"
                                    : "Book Information"
                            }}
                        </th>
                        <th>{{ lg === "vi" ? "Giá" : "Price" }}</th>
                        <th>{{ lg === "vi" ? "Thao tác" : "Actions" }}</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-wish>
                    <tr>
                        <td></td>
                        <td style="width: 10rem; min-width: 10rem">
                            <span class="p-column-title">Book</span>
                            <img
                                style="cursor: pointer"
                                src="{{ wish.book.image }}"
                                (error)="changeSource($event)"
                                [alt]="wish.book.name"
                                (click)="bookDetail(this.wish.bookId)"
                                class="my-4 md:my-0 w-9 md:w-10rem shadow-2 mr-5"
                            />
                        </td>
                        <td style="width: 30%; min-width: 20rem">
                            <div class="flex-1 text-center md:text-left">
                                <div class="font-bold text-2xl mb-3">
                                    {{ wish.book.name | slice : 0 : 27
                                    }}{{
                                        wish.book.name?.length > 27 ? "..." : ""
                                    }}
                                </div>
                                <p-rating
                                    [ngModel]="wish.book.rating"
                                    [readonly]="true"
                                    [cancel]="false"
                                ></p-rating>
                                <div class="flex align-items-center my-3">
                                    <i class="pi pi-tag mr-2"></i>
                                    <span class="font-semibold">{{
                                        wish.book.category.name
                                    }}</span>
                                </div>
                                <div
                                    *ngIf="
                                        wish.book.quantity > 0;
                                        else elseBlock
                                    "
                                >
                                    <p-tag
                                        severity="success"
                                        value="Còn sách"
                                        [rounded]="true"
                                    ></p-tag>
                                </div>
                                <ng-template #elseBlock>
                                    <p-tag
                                        severity="danger"
                                        value="Hết sách"
                                        [rounded]="true"
                                    ></p-tag>
                                </ng-template>
                            </div>
                        </td>
                        <td>
                            <span
                                class="text-2xl font-semibold align-self-center md:align-self-end"
                                >{{ wish.book.price | currencyReverse }}</span
                            >
                        </td>
                        <td>
                            <div class="flex">
                                <button
                                    pButton
                                    pRipple
                                    icon="pi pi-trash"
                                    class="p-button-rounded p-button-danger"
                                    (click)="deleteBookFromWish(this.wish.id)"
                                ></button>
                            </div>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
</div>
