<div class="grid">
    <div class="col-12">
        <div class="card">
            <p-toast></p-toast>
            <p-breadcrumb
                [model]="itemsMenu"
                [home]="home"
                styleClass="mb-4"
            ></p-breadcrumb>

            <div class="card mb-4">
                <div class="flex flex-row">
                    <div class="flex flex-column w-16rem mr-4">
                        <label for="searchFrom">{{
                            lg === "en" ? "From date:" : "Từ ngày:"
                        }}</label>
                        <p-calendar
                            class="mt-2"
                            [style]="{ width: '100%' }"
                            [(ngModel)]="searchBorrowedHistoryDto.fromDate"
                            [readonlyInput]="true"
                            dateFormat="dd-mm-yy"
                            dataType="string"
                            [showIcon]="true"
                            inputId="fromDate"
                            [placeholder]="
                                lg === 'en'
                                    ? '--Select date--'
                                    : '--Chọn ngày--'
                            "
                        ></p-calendar>
                    </div>
                    <div class="flex flex-column w-16rem mr-4">
                        <label for="searchTo">{{
                            lg === "en" ? "To date:" : "Đến ngày:"
                        }}</label>
                        <p-calendar
                            class="mt-2"
                            [style]="{ width: '100%' }"
                            [(ngModel)]="searchBorrowedHistoryDto.toDate"
                            [readonlyInput]="true"
                            dateFormat="dd-mm-yy"
                            dataType="string"
                            [showIcon]="true"
                            inputId="toDate"
                            [placeholder]="
                                lg === 'en'
                                    ? '--Select date--'
                                    : '--Chọn ngày--'
                            "
                        ></p-calendar>
                    </div>
                </div>
                <div class="mt-4">
                    <button
                        pButton
                        pRipple
                        [label]="lg === 'en' ? 'Search' : 'Tìm kiếm'"
                        icon="pi pi-search"
                        class="p-button-success mr-2 p-button-rounded p-button-sm"
                        (click)="search()"
                    ></button>
                    <button
                        pButton
                        pRipple
                        [label]="lg === 'en' ? 'Reset' : 'Đặt lại'"
                        icon="pi pi-refresh"
                        class="p-button-warning p-button-rounded p-button-sm"
                        (click)="refreshSearchFields()"
                    ></button>
                </div>
            </div>

            <p-table
                #dt
                [value]="listReviews"
                responsiveLayout="scroll"
                [rows]="10"
                [paginator]="true"
                [rowsPerPageOptions]="[10, 20, 30]"
                [showCurrentPageReport]="true"
                [currentPageReportTemplate]="
                    lg === 'en'
                        ? 'Page {currentPage}/{totalPages}'
                        : 'Trang {currentPage}/{totalPages}'
                "
                [(selection)]="listReviewsSelected"
                selectionMode="multiple"
                [rowHover]="true"
                dataKey="id"
            >
                <ng-template pTemplate="caption">
                    <div
                        class="flex flex-column md:flex-row md:justify-content-between md:align-items-center"
                    >
                        <h5 class="m-0">
                            {{
                                lg === "en" ? "DATA LIST" : "DANH SÁCH DỮ LIỆU"
                            }}
                        </h5>
                        <span class="block mt-2 md:mt-0 p-input-icon-left">
                            <button
                                pButton
                                pRipple
                                [label]="
                                    lg === 'en' ? 'Export Excel' : 'Xuất Excel'
                                "
                                icon="pi pi-file-excel"
                                class="p-button-primary mr-2 p-button-rounded p-button-sm"
                                (click)="exportExcel()"
                            ></button>
                            <button
                                pButton
                                pRipple
                                [label]="lg === 'en' ? 'Delete' : 'Xóa'"
                                icon="pi pi-trash"
                                class="p-button-danger p-button-rounded p-button-sm"
                                (click)="deleteList()"
                                [disabled]="
                                    !listReviewsSelected ||
                                    !listReviewsSelected.length
                                "
                            ></button>
                        </span>
                    </div>
                </ng-template>

                <ng-template pTemplate="header">
                    <tr>
                        <th style="width: 3rem">
                            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                        </th>
                        <th>{{ lg === "en" ? "Book Title" : "Tên sách" }}</th>
                        <th>{{ lg === "en" ? "Rating" : "Đánh giá" }}</th>
                        <th>{{ lg === "en" ? "Comment" : "Nội dung" }}</th>
                        <th>
                            {{ lg === "en" ? "Reviewer" : "Người đánh giá" }}
                        </th>
                        <th>
                            {{ lg === "en" ? "Review Date" : "Ngày đánh giá" }}
                        </th>
                        <th>{{ lg === "en" ? "Actions" : "Thao tác" }}</th>
                    </tr>
                </ng-template>

                <ng-template pTemplate="body" let-borrow>
                    <tr>
                        <td>
                            <p-tableCheckbox [value]="borrow"></p-tableCheckbox>
                        </td>
                        <td>{{ borrow.book.name }}</td>
                        <td>
                            <p-rating
                                [readonly]="true"
                                [cancel]="false"
                                [(ngModel)]="borrow.rating"
                            ></p-rating>
                        </td>
                        <td>{{ borrow.comment }}</td>
                        <td>{{ borrow.borrower.username }}</td>
                        <td>
                            {{
                                borrow.reviewedDate | date : "dd/MM/yyyy HH:mm"
                            }}
                        </td>
                        <td>
                            <div class="flex justify-content-left">
                                <button
                                    pButton
                                    pRipple
                                    icon="pi pi-trash"
                                    class="p-button-rounded p-button-danger"
                                    (click)="deleteOne(borrow.id)"
                                ></button>
                            </div>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>

        <p-dialog
            [(visible)]="dialogConfirmDeleteOne"
            [header]="lg === 'en' ? 'Confirm Delete' : 'Xác nhận xóa'"
            [modal]="true"
            [style]="{ width: '450px' }"
        >
            <div class="flex align-items-center justify-content-center">
                <i
                    class="pi pi-exclamation-triangle mr-3"
                    style="font-size: 2rem"
                ></i>
                <span>{{
                    lg === "en"
                        ? "Are you sure you want to delete this record?"
                        : "Bạn có chắc muốn xóa bản ghi này không?"
                }}</span>
            </div>
            <ng-template pTemplate="footer">
                <button
                    pButton
                    pRipple
                    icon="pi pi-check"
                    class="p-button-text"
                    [label]="lg === 'en' ? 'Confirm' : 'Xác nhận'"
                    (click)="confirmDeleteOne()"
                ></button>
                <button
                    pButton
                    pRipple
                    icon="pi pi-times"
                    class="p-button-text"
                    [label]="lg === 'en' ? 'Cancel' : 'Hủy bỏ'"
                    (click)="dialogConfirmDeleteOne = false"
                ></button>
            </ng-template>
        </p-dialog>

        <p-dialog
            [(visible)]="dialogConfirmDeleteList"
            [header]="lg === 'en' ? 'Confirm Delete' : 'Xác nhận xóa'"
            [modal]="true"
            [style]="{ width: '450px' }"
        >
            <div class="flex align-items-center justify-content-center">
                <i
                    class="pi pi-exclamation-triangle mr-3"
                    style="font-size: 2rem"
                ></i>
                <span>{{
                    lg === "en"
                        ? "Are you sure you want to delete these records?"
                        : "Bạn có chắc muốn xóa các bản ghi này không?"
                }}</span>
            </div>
            <ng-template pTemplate="footer">
                <button
                    pButton
                    pRipple
                    icon="pi pi-check"
                    class="p-button-text"
                    [label]="lg === 'en' ? 'Confirm' : 'Xác nhận'"
                    (click)="confirmDeleteList()"
                ></button>
                <button
                    pButton
                    pRipple
                    icon="pi pi-times"
                    class="p-button-text"
                    [label]="lg === 'en' ? 'Cancel' : 'Hủy bỏ'"
                    (click)="dialogConfirmDeleteList = false"
                ></button>
            </ng-template>
        </p-dialog>
    </div>
</div>
