<div class="grid">
    <div class="col-12">
        <div class="card">
            <p-toast></p-toast>
            <p-breadcrumb
                [model]="itemsMenu"
                [home]="home"
                styleClass="mb-4"
            ></p-breadcrumb>

            <div class="card" styleClass="mb-4">
                <div class="flex flex-row">
                    <div class="flex flex-column w-16rem mr-4">
                        <label for="searchCode">{{
                            lg === "vi" ? "Mã thể loại:" : "Category Code:"
                        }}</label>
                        <input
                            pInputText
                            id="searchCode"
                            class="mt-2"
                            type="text"
                            [(ngModel)]="searchCategoryDto.code"
                            placeholder="{{
                                lg === 'vi' ? 'Nhập mã' : 'Enter code'
                            }}"
                        />
                    </div>
                    <div class="flex flex-column w-16rem mr-4">
                        <label for="searchName">{{
                            lg === "vi" ? "Tên thể loại:" : "Category Name:"
                        }}</label>
                        <input
                            pInputText
                            id="searchName"
                            class="mt-2"
                            type="text"
                            [(ngModel)]="searchCategoryDto.name"
                            placeholder="{{
                                lg === 'vi' ? 'Nhập tên' : 'Enter name'
                            }}"
                        />
                    </div>
                </div>
                <div class="mt-4">
                    <button
                        pButton
                        pRipple
                        label="{{ lg === 'vi' ? 'Tìm kiếm' : 'Search' }}"
                        icon="pi pi-search"
                        class="p-button-success mr-2 p-button-rounded p-button-sm"
                        (click)="search()"
                    ></button>
                    <button
                        pButton
                        pRipple
                        label="{{ lg === 'vi' ? 'Đặt lại' : 'Reset' }}"
                        icon="pi pi-refresh"
                        class="p-button-warning p-button-rounded p-button-sm"
                        (click)="refreshSearchFields()"
                    ></button>
                </div>
            </div>

            <p-table
                #dt
                [value]="listCategory"
                responsiveLayout="scroll"
                [rows]="pagination.size"
                [totalRecords]="pagination.totalElements"
                [lazy]="true"
                [paginator]="true"
                [rowsPerPageOptions]="[10, 20, 30]"
                [showCurrentPageReport]="true"
                currentPageReportTemplate="{{
                    lg === 'vi' ? 'Trang' : 'Page'
                }} {{ pagination.page + 1 }}/{{ pagination.totalPages }}"
                [(selection)]="listCategorySelected"
                selectionMode="multiple"
                [rowHover]="true"
                dataKey="id"
                (onPage)="pageChange($event)"
                (rowsChange)="sizeChange($event)"
            >
                <ng-template pTemplate="caption">
                    <div
                        class="flex flex-column md:flex-row md:justify-content-between md:align-items-center"
                    >
                        <h5 class="m-0">
                            {{
                                lg === "vi" ? "DANH SÁCH DỮ LIỆU" : "DATA LIST"
                            }}
                        </h5>
                        <span class="block mt-2 md:mt-0 p-input-icon-left">
                            <button
                                pButton
                                pRipple
                                label="{{
                                    lg === 'vi' ? 'Thêm mới' : 'Add New'
                                }}"
                                icon="pi pi-plus"
                                class="p-button-primary mr-2 p-button-rounded p-button-sm"
                                (click)="openNew()"
                            ></button>
                            <button
                                pButton
                                pRipple
                                label="{{ lg === 'vi' ? 'Xóa' : 'Delete' }}"
                                icon="pi pi-trash"
                                class="p-button-danger p-button-rounded p-button-sm"
                                (click)="deleteList()"
                                [disabled]="
                                    !listCategorySelected ||
                                    !listCategorySelected.length
                                "
                            ></button>
                        </span>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th style="width: 3rem">
                            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                        </th>
                        <th>
                            {{ lg === "vi" ? "Mã thể loại" : "Category Code" }}
                        </th>
                        <th>
                            {{ lg === "vi" ? "Tên thể loại" : "Category Name" }}
                        </th>
                        <th>{{ lg === "vi" ? "Mô tả" : "Description" }}</th>
                        <th>{{ lg === "vi" ? "Thao tác" : "Actions" }}</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-category>
                    <tr>
                        <td>
                            <p-tableCheckbox
                                [value]="category"
                            ></p-tableCheckbox>
                        </td>
                        <td style="width: 14%; min-width: 10rem">
                            {{ category.code || category.id }}
                        </td>
                        <td style="width: 14%; min-width: 18rem">
                            {{ category.name }}
                        </td>
                        <td style="width: 14%; min-width: 32rem">
                            {{ category.description }}
                        </td>
                        <td>
                            <div class="flex justify-content-left">
                                <button
                                    pButton
                                    pRipple
                                    icon="pi pi-pencil"
                                    class="p-button-rounded p-button-success mr-2"
                                    (click)="edit(category.id)"

                                ></button>
                                <button
                                    pButton
                                    pRipple
                                    icon="pi pi-trash"
                                    class="p-button-rounded p-button-danger"
                                    (click)="deleteOne(category.id)"
                                ></button>
                            </div>
                        </td>
                    </tr>
                </ng-template>
            </p-table>

            <!-- Dialog Add or Update -->
            <p-dialog
                [(visible)]="dialogAddOrUpdate"
                [style]="{ width: '450px' }"
                header="''
                    lg === 'vi'
                        ? 'headerDialogAddOrUpdateVi'
                        : 'headerDialogAddOrUpdateEn'
                '"
                [modal]="true"
                class="p-fluid"
            >
                <ng-template pTemplate="content">
                    <div class="field">
                        <label for="name"
                            >{{
                                lg === "vi" ? "Tên thể loại" : "Category Name"
                            }}
                            <span style="color: red">(*)</span></label
                        >
                        <input
                            type="text"
                            pInputText
                            id="name"
                            [(ngModel)]="category.name"
                            required
                            autofocus
                            [ngClass]="{
                                'ng-invalid ng-dirty':
                                    submitted && !category.name
                            }"
                        />
                        <small
                            style="color: red"
                            class="ng-dirty ng-invalid"
                            *ngIf="submitted && !category.name"
                        >
                            {{
                                lg === "vi"
                                    ? "Tên thể loại không được trống"
                                    : "Category name is required"
                            }}
                        </small>
                    </div>
                    <div class="field">
                        <label for="description">{{
                            lg === "vi" ? "Mô tả" : "Description"
                        }}</label>
                        <textarea
                            id="description"
                            pInputTextarea
                            [(ngModel)]="category.description"
                            required
                            rows="5"
                            cols="20"
                        ></textarea>
                    </div>
                </ng-template>
                <ng-template pTemplate="footer">
                    <button
                        pButton
                        pRipple
                        label="{{ lg === 'vi' ? 'Lưu lại' : 'Save' }}"
                        icon="pi pi-check"
                        class="p-button-text"
                        (click)="save()"
                    ></button>
                    <button
                        pButton
                        pRipple
                        label="{{ lg === 'vi' ? 'Hủy bỏ' : 'Cancel' }}"
                        icon="pi pi-times"
                        class="p-button-text"
                        (click)="dialogAddOrUpdate = false"
                    ></button>
                </ng-template>
            </p-dialog>

            <!-- Dialog Confirm Delete One -->
            <p-dialog
                [(visible)]="dialogConfirmDeleteOne"
                header="{{ lg === 'vi' ? 'Xác nhận xóa' : 'Confirm Delete' }}"
                [modal]="true"
                [style]="{ width: '450px' }"
            >
                <div class="flex align-items-center justify-content-center">
                    <i
                        class="pi pi-exclamation-triangle mr-3"
                        style="font-size: 2rem"
                    ></i>
                    <span *ngIf="category">
                        {{
                            lg === "vi"
                                ? "Bạn có chắc muốn xóa"
                                : "Are you sure to delete"
                        }}
                        <b>{{ category.name }}</b
                        >?
                    </span>
                </div>
                <ng-template pTemplate="footer">
                    <button
                        pButton
                        pRipple
                        icon="pi pi-check"
                        class="p-button-text"
                        label="{{ lg === 'vi' ? 'Xác nhận' : 'Confirm' }}"
                        (click)="confirmDeleteOne()"
                    ></button>
                    <button
                        pButton
                        pRipple
                        icon="pi pi-times"
                        class="p-button-text"
                        label="{{ lg === 'vi' ? 'Hủy bỏ' : 'Cancel' }}"
                        (click)="dialogConfirmDeleteOne = false"
                    ></button>
                </ng-template>
            </p-dialog>

            <!-- Dialog Confirm Delete List -->
            <p-dialog
                [(visible)]="dialogConfirmDeleteList"
                header="{{ lg === 'vi' ? 'Xác nhận xóa' : 'Confirm Delete' }}"
                [modal]="true"
                [style]="{ width: '450px' }"
            >
                <div class="flex align-items-center justify-content-center">
                    <i
                        class="pi pi-exclamation-triangle mr-3"
                        style="font-size: 2rem"
                    ></i>
                    <span>{{
                        lg === "vi"
                            ? "Bạn có chắc muốn xóa các bản ghi này không?"
                            : "Are you sure to delete these records?"
                    }}</span>
                </div>
                <ng-template pTemplate="footer">
                    <button
                        pButton
                        pRipple
                        icon="pi pi-check"
                        class="p-button-text"
                        label="{{ lg === 'vi' ? 'Xác nhận' : 'Confirm' }}"
                        (click)="confirmDeleteList()"
                    ></button>
                    <button
                        pButton
                        pRipple
                        icon="pi pi-times"
                        class="p-button-text"
                        label="{{ lg === 'vi' ? 'Hủy bỏ' : 'Cancel' }}"
                        (click)="dialogConfirmDeleteList = false"
                    ></button>
                </ng-template>
            </p-dialog>
        </div>
    </div>
</div>
