<div class="grid">
    <div class="col-12">
        <div class="card">
            <!-- ===============================================-->
            <!--    Main Content-->
            <!-- ===============================================-->
            <main class="main" id="top">
                <section class="py-0" id="home">
                    <div
                        class="bg-holder d-none d-md-block"
                        style="
                            background-image: url(assets/img/illustrations/hero-section.png);
                            background-position: right bottom;
                            background-size: contain;
                        "
                    ></div>
                    <!--/.bg-holder-->

                    <div
                        class="bg-holder d-block d-md-none"
                        style="
                            background-image: url(assets/img/illustrations/hero-bg.png);
                            background-position: right top;
                            background-size: contain;
                        "
                    ></div>
                    <!--/.bg-holder-->

                    <div class="container">
                        <div class="row align-items-center min-vh-md-75">
                            <div
                                class="col-md-7 col-lg-6 py-6 text-sm-start text-center"
                            >
                                <h1
                                    class="mt-6 mb-sm-4 display-4 fw-semi-bold lh-sm fs-4 fs-lg-6 fs-xxl-7"
                                >
                                    {{
                                        lg === "vi"
                                            ? "Đi một ngày đàng,\nhọc một sàng khôn"
                                            : "A day of traveling,\na basket of wisdom"
                                    }}
                                </h1>
                                <p class="mb-4 fs-1">
                                    {{
                                        lg === "vi"
                                            ? "Khám phá và nghiên cứu để có một tương lai tươi sáng hơn."
                                            : "Explore and research for a brighter future."
                                    }}
                                </p>
                            </div>
                        </div>
                    </div>
                </section>

                <section id="libraries">
                    <div
                        class="bg-holder"
                        style="
                            background-image: url(assets/img/illustrations/libraries-bg.png);
                            background-position: left bottom;
                            background-size: contain;
                        "
                    ></div>
                    <!--/.bg-holder-->

                    <div class="container">
                        <div class="row g-xl-0 align-items-center">
                            <div class="col-md-5 col-lg-7 text-xl-center">
                                <img
                                    class="img-fluid mb-5 mb-md-0"
                                    src="assets/img/illustrations/our-libraries.png"
                                    width="620"
                                    alt=""
                                />
                            </div>
                            <div
                                class="col-md-7 col-lg-4 text-center text-md-start offset-lg-1 offset-xxl-0"
                            >
                                <h1 class="fw-semi-bold text-warning">
                                    {{ lg === "vi" ? "Về " : "About " }}
                                    <span class="text-1100">{{
                                        lg === "vi" ? "chúng tôi" : "us"
                                    }}</span>
                                </h1>
                                <p class="pt-3 lh-lg">
                                    {{
                                        lg === "vi"
                                            ? "Trung tâm Thông tin Thư viện một đơn vị trực thuộc Trường Đại học Công nghiệp Hà Nội, có chức năng phục vụ hoạt động giảng dạy, học tập và đào tạo, nghiên cứu khoa học, triển khai ứng dụng tiến bộ khoa học công nghệ và quản lý của nhà trường thông qua việc sử dụng, khai thác các nguồn tài liệu có trong thư viện; thực hiện các chức năng khác theo quy định của pháp luật và quy chế tổ chức, hoạt động của nhà trường."
                                            : "The Library Information Center is a unit under Hanoi University of Industry, serving teaching, learning, research, technology transfer, and university management through the use and exploitation of library resources; it also performs other functions as prescribed by law and the university's organizational and operational regulations."
                                    }}
                                </p>
                                <div class="py-3">
                                    <button
                                        class="btn btn-lg btn-primary rounded-pill font-base"
                                        type="submit"
                                    >
                                        {{
                                            lg === "vi"
                                                ? "Tìm hiểu thêm"
                                                : "Learn more"
                                        }}
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </main>
        </div>
    </div>
</div>
